

body {
    font-family: "Roboto", sans-serif; 
    background-color: #f4f4f4;
    margin: 0;
    padding: 20px;
  }
  
  h1, h2 {
    text-align: center; /* Center headings */
    color: #009dff; 
  }
  
  div {
    margin-bottom: 20px;
    padding: 15px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }
  
  input[type="text"],
  input[type="date"], 
  select { /* Include select for consistency */
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #dddddd;
    border-radius: 4px;
    box-sizing: border-box;
  }
  
  button {
    background-color: #007bff; 
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  button:hover {
    background-color: #0056b3; 
  }
  

  table {
    width: 100%;
    border-collapse: collapse;
  }
  
  th, td {
    text-align: left;
    padding: 8px;
    border: 1px solid #09bcf2;
  }
  
  th {
    background-color: #09bcf2;
  }
  
  .error {  /* Style for error messages */
    color: #dc3545; 
    font-size: 0.9em;
    margin-top: 5px;
  }
  
  .success { /* Style for success messages */
    color: #28a745; 
    font-size: 0.9em;
    margin-top: 5px;
  }
  .PhoneInputInput {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #dddddd;
    border-radius: 4px;
    box-sizing: border-box;
  }
  
  .PhoneInputCountrySelect {
    width: auto;
    /* Adjust width as needed */
  }
  